.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/15002060212_0e6c3eecdf_c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 98px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 807px;
  min-height: 379px;
  margin: 131px auto 29px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 190px 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    width: 365px;
    height: 103px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 665px;
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 154px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-image-1 {
    width: 373px;
    height: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 510px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 58px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 478px;
    min-height: 213px;
    margin-top: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-image-1 {
    height: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  min-height: 285px;
}

.u-section-2 .u-sheet-1 {
  min-height: 335px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: -1060px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 235px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-2 {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 7px 30px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 235px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-3 {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 7px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -1401px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 753px);
    margin-right: auto;
    margin-bottom: -1276px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: NaNpx;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 250px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-top: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 223px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: -19px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/3fb7edbfa9a99b6d231c902fc17aae10.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 581px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  width: 721px;
  margin: 132px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 81px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 100px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 733px;
}

.u-section-4 .u-group-1 {
  min-height: 174px;
  margin: 43px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 10px auto 59px 0;
}

.u-section-4 .u-image-1 {
  min-height: 235px;
  background-image: url("images/HelenafotoparaLattes20191.png");
}

.u-section-4 .u-layout-cell-2 {
  min-height: 235px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 19px 0 1px;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/lattes.jpg");
  min-height: 235px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 235px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 31px 20px 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-4 .u-image-3 {
  background-image: url("images/Fotoprofissional.jpg");
  min-height: 235px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 235px;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 20px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-4 .u-image-4 {
  background-image: url("images/image.png");
  min-height: 235px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-8 {
  background-image: none;
  min-height: 235px;
}

.u-section-4 .u-container-layout-9 {
  padding-left: 20px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 194px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 258px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 16px;
  }

  .u-section-4 .u-image-4 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-12 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-1 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-4 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 669px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 669px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 669px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-10 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-4 .u-text-11 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-4 .u-image-4 {
    min-height: 669px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-13 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-4 .u-text-14 {
    position: relative;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-1 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-4 .u-image-2 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 6px;
  }

  .u-section-4 .u-image-3 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 6px;
  }

  .u-section-4 .u-image-4 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/24703744091_9df8445be8_c.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 334px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1068px;
  margin: 82px auto 20px 36px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1109px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  margin: 35px auto 0 0;
}

.u-section-6 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 15px auto -163px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/53e7d1444f57a514f6da8c7dda793678153bdee757596c48732f7cd39445cc58b1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 491px;
}

.u-section-6 .u-container-layout-3 {
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0 20px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 582px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-6 .u-image-2 {
  height: 346px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-3 {
  background-image: url("images/64682873-0.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 567px;
}

.u-section-6 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-6 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 470px;
    min-height: 179px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 187px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    min-height: 198px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-6 .u-image-1 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-6 .u-image-2 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    min-height: 455px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-6 .u-image-1 {
    min-height: 323px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 548px;
  }

  .u-section-6 .u-image-2 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    min-height: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 203px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-6 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    min-height: 215px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 250px;
}

.u-section-7 .u-shape-1 {
  height: 175px;
  margin: 38px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1084px;
  margin: -160px auto 60px 28px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 894px;
    margin-left: 23px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 685px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 69px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-7 .u-shape-1 {
    height: 260px;
    width: 540px;
    margin-top: 60px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 513px;
    margin: -266px auto 54px 13px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 86px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-7 .u-shape-1 {
    height: 319px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 323px;
    margin-left: 8px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 54px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 138px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 313px;
}

.u-section-8 .u-text-1 {
  width: 679px;
  font-weight: 700;
  margin: 54px auto 0;
}

.u-section-8 .u-list-1 {
  min-height: 188px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  margin: 0 0 32px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 -21px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 -21px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 -21px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 202px;
  height: 79px;
  margin: 0 -21px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  width: 202px;
  height: 79px;
  margin: 0 -21px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-8 .u-list-1 {
    min-height: 155px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-8 .u-list-1 {
    min-height: 288px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: calc(((100% - 340px) / 2) + 165px) calc(((100% - 340px) / 2) + 165px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}